.HTML-Progreso{
    animation: AnimacionHTML 5s cubic-bezier(1, 1, 1, 1);
    width: 90%;
}
.JS-Progreso{
    animation: AnimacionJS 5s cubic-bezier(1, 1, 1, 1);
    width: 70%;
}
.CSS-Progreso{
    animation: AnimacionCSS 5s cubic-bezier(1, 1, 1, 1);
    width: 85%;
}
.GIT-Progreso{
    animation: AnimacionGIT 5s cubic-bezier(1, 1, 1, 1);
    width: 60%;
}




@keyframes AnimacionHTML{
    0%{
        width: 0%;
    }
    100%{
        width: 90%;
    }
}
@keyframes AnimacionCSS{
    0%{
        width: 0%;
    }
    100%{
        width: 85%;
    }
}
@keyframes AnimacionJS{
    0%{
        width: 0%;
    }
    100%{
        width: 70%;
    }
}
@keyframes AnimacionGIT{
    0%{
        width: 0%;
    }
    100%{
        width: 60%;
    }
}