*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html{
    font-size: 62.5%;
    font-family: 'Mulish', sans-serif;
}
body{
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr auto;
}
.flex{
    display: flex;
    justify-content: center;
    align-items: center;
}
.flex2{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}




.header{
    width: 100%;
    min-height: 10vh;
    background-color: black;
}
.header__section{
    width: 100%;
    height: auto;
}
.header__section--navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    height: 100px;
}
.display{
    display: flex;
    justify-content: center;
    align-items: center;
}
.header__section--navbar--izquierda{
    width: 100px;
    height: auto;
    text-align: center;
}
.header__section--navbar--izquierda h2{
    font-size: 3rem;
    color: aliceblue;
}
.header__section--navbar--derecha{
    width: auto;
    height: 80px;
}

.header__section--image{
    width: 100%;
    height: 350px;
}
.header__section--image img{
    width: 100%;
    height: 100%;
    overflow: hidden;
}


.main{
    width: 100%;
    width: auto;
}
.main__section--title{
    width: 100%;
    height: 100vh;
        background-image: linear-gradient(to bottom, #6f7a8a, #8691a2, #9da8ba, #b5c0d3, #cdd8ec);

}

.main__section--title h1{
    font-size: 8rem;
    color: white;
    padding: 10% 0 0 20%;
    text-shadow: -1px 1px 11px rgb(0 0 0 / 52%);
}
.main__section--title p{
    font-size: 3rem;
    color: rgb(223, 223, 223);
    padding: 0 0 0 20%;
    text-shadow: -1px 1px 11px rgb(0 0 0 / 52%);

}
.main__section--title span{
    color: greenyellow;
}

.main__section--conocimientos{
    width: 100%;
    height: auto;
    background-image: linear-gradient(to bottom, #000000, #242022, #3f3b42, #595965, #6f7a8a);
    padding-bottom: 170px;
}
.main__section--conocimientos--title{
    flex-direction: column;
    width: 100%;
    height: 150px;
}
.main__section--conocimientos--title h2{
    font-size: 4rem;
    color: white;
}
.main__section--conocimientos--title p{
    font-size: 2rem;
    color: white;
}
.main__section--conocimientos--title p span{
    color: greenyellow;
}
.main__section--conocimientos--skills{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 400px;
}

.main__section--conocimientos--skills .container--Skill{
    display: flex;
    justify-content: flex-start;
    width: 80%;
    height: auto;
}
.main__section--conocimientos--skills .container--Skill h3{
    display: flex;
    justify-content: flex-end;
    width: 100px;
    font-size: 2rem;
    color: white;
    margin-bottom: 20px;
}

.main__section--conocimientos--skills .container--Skill .progreso{
    height: 10px;
    background-color: greenyellow;
    margin: 0 0 20px 20px;
}
.main__section--conocimientos--skills .container--Skill .porcentaje{
    font-size: 1.5rem;
    color: aliceblue;
    margin: 0 0 20px 10px;
}
.main__section--educacion{
    width: 100%;
    height: auto;
    background-image: linear-gradient(to bottom, #6f7a8a, #7c8797, #8994a5, #96a1b3, #a4afc1);
}
.main__section--educacion--title h2{
    font-size: 4rem;
    font-weight: 900;
    color: white;
}
.main__section--educacion--title h2 span{
    color: greenyellow;
}
.main__section--educacion--texto{
    width: auto;
    height: auto;
    text-align: left;
    margin: 30px 10% 200px;
}
.main__section--educacion--texto p{
    font-family: 'Roboto', sans-serif;
    font-size: 2rem;
    line-height: 2.5rem;
    font-weight: 600;
    margin-top: 40px;
    color: white;
    text-shadow: -1px 1px 4px rgb(0 0 0 / 61%);
}
.main__section--educacion--texto p a{
    color: white;
    font-size: 2rem;
}
.main__section--educacion--texto p a:hover{
    color: greenyellow;
}
.main__section--proyectos{
    width: 100%;
    height: auto;
    background-color: black;
}
.main__section--proyectos--title{
    width: 100%;
    height: 100px;
    margin-bottom: 50px;
}
.main__section--proyectos--title h2{
    font-size: 4rem;
    font-weight: 800;
    color: greenyellow;
}
.main__section--proyectos--title h2 span{
    color: white;
}
.main__section--proyectos--texto{
    width: 80%;
    height: auto;
    text-align: left;
    margin: 0 auto;
}
.main__section--proyectos--texto p{
    font-size: 2rem;
    margin-bottom: 30px;
    color: greenyellow;
}
.main__section--proyectos--texto p a{
    color: greenyellow;
}
.main__section--proyectos--texto p a:hover{
    color: white;
}

.main__section--proyectos--container-proyectos{
    display: grid;
    width: 90%;
    height: auto;
    padding: 50px 0 90px;
    grid-template-rows: 1fr 1fr 1fr;
}
.main__section--proyectos--container-proyectos a{
    width: 100%;
    height: 100%;
    text-decoration: none;
}
.main__section--proyectos--container-proyectos .container-proyecto{
    width: 90%;
    max-width: 230px;
    height: 400px;
    border-radius: 20px;
    box-shadow: -2px 2px 13px 2px greenyellow;
    margin: 0 0 40px 40px;
}
.main__section--proyectos--container-proyectos .container-proyecto .imagen-container{
    width: 100%;
    height: 70%;
}
.main__section--proyectos--container-proyectos .container-proyecto .imagen-container img{
    width: 100%;
    height: 100%;
    border-radius: 20px 20px 0 0;
    object-fit: cover;
}   

.main__section--proyectos--container-proyectos .container-proyecto .descripcion-container{
    width: 100%;
    height: 30%;
    border-radius: 0 0 20px 20px;
    border-top: 1px solid greenyellow;
    padding:  0 10px;
    text-align: center;
}

.main__section--proyectos--container-proyectos .container-proyecto .descripcion-container p{
    font-size: 1.5rem;
    color: greenyellow;
}
@media (min-width: 800px){
    .main__section--proyectos--container-proyectos{
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 0fr 0fr 0fr;
    }
}